.container {
    padding: 40px 0 40px 20px;
}

.table {
    border: 0;
}

.table td {
    border-bottom: 0;
}

.avatarRow {
    white-space: nowrap; padding: 10px 8px 0 0; border-right:solid 2px #93c0f8; text-align:right; line-height: 18px; width:99px; height:33px;
}
.avatar {
    border-radius:50%;
    display:block;
}

.nameRow {
    padding-left:10px; color:#555; font-family:Helvetica, Arial, sans-serif; font-size:12px; line-height:16px;
}

.name {
    color:#2781f2; font-weight:bold;
} 

.phone {
    display: inline-block; margin-right: 4px; color:#2781f2; font-weight: bold;
}

.emailRow {
    white-space:nowrap;
}

.emailTitle {
    display: inline-block; margin-right: 2px; color:#2781f2; font-weight: bold;
}

.email {
    color: #555; text-decoration:none;
}

.website {
    white-space:nowrap;
}

.websiteTitle {
    display: inline-block; margin-right: 2px; color:#2781f2; font-weight: bold;
}

.website {
    font-family: Helvetica, Arial; line-height: 18px; color: #555; text-decoration:none;
}

.social {
    margin-top: 4px;
}

.socialIcon {
    width:20px; height: 20px;
}